
/* Centering text in each gray box css-1xarl3l e16fv1kl1 div.css-50ug3q.e16fv1kl3*/
div.css-50ug3q.e16fv1kl3 {
    align-items: center;
    align-content: center;
    background-color:#cdb3cefb;
    padding: 1% 1% 1% 10%;
    border-radius: 3px;
    
}
div.css-1xarl3l.e16fv1kl1 {
    align-items: center;
    align-content: center;
    background-color:#cdb3cefb;
    padding: 1% 1% 1% 30%;
    border-radius: 7px;
  }

div.css-18e3th9 {
    padding-top: 2rem;
    padding-bottom: 10rem;
    padding-left: 2rem;
    padding-right: 5rem;
}
div.css-1d391kg {
    padding-top: 3.5rem;
    padding-right: 1rem;
    padding-bottom: 3.5rem;
    padding-left: 1rem;
}
section.css-163ttbj.e1fqkh3o11 {
    background-color:#e7ebe0fb;
    margin-top: 0%;
    
}

div.css-1vq4p4l.e1fqkh3o4 {
    margin-top: -15%;
}
